@model ComplianceAuditWeb.Models.AllocateActandRuleViewModel

@{
    /**/

    ViewBag.Title = "Add Acts Page";
    WebGrid grid = new WebGrid(Model.BranchList);
}

<ul class="breadcrumb ML15">
    <li><a href="">Compliance Management</a></li>
    <li>SME Dashbord</li>
</ul>
<h2 class="ML15">SME Dashborad</h2>

@section scripts{
    <script language="javascript" type="text/javascript">
        function GetBranch(_CompanyId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#BranchId").html(procemessage).show();
            var url = "/Common/getspecificbranch";

            $.ajax({
                url: url,
                data: { compid: _CompanyId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select Branch</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";                        
                    }
                    $("#BranchId").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

        function Getvendor(_CompanyId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#BranchId").html(procemessage).show();
            var url = "/Common/getspecificvendors";

            $.ajax({
                url: url,
                data: { compid: _CompanyId },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select Branch</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#BranchId").html(markup).show();                 
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });      
        }
    </script>


}
@using (Html.BeginForm())
{
    <div class="mid_content_sec">
        <div class="col-xs-8 subSelect ">
            <div class="input-field">
                @Html.Label("Company", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.CompanyId, Model.Companylist, new { @class = "inputMaterial ui - autocomplete - input", @onchange = "GetBranch(this.value)" })
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-xs-6 subSelect ">
            <div class="input-field">
                @Html.Label("List of Branch", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.BranchId, Model.BranchList, new { @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
        <div class="col-xs-6 subSelect ">
            <div class="input-field">
                @Html.Label("List of Vendor", new { @class = "floating-label" })
                @Html.DropDownListFor(model => model.VendorId, Model.VendorList, new { @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-xs-6 subSelect ">
            <div class="input-field">
                @grid.GetHtml(columns:grid.Columns(
                grid.Column(format: @<a href="/ComplianceManagement/AssignRules?Branchid=@item.Value">@item.Text</a>))))
            </div>
        </div>
    </div>
            }
