@model ComplianceAuditWeb.Models.AboutCompanyViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2 class="ML15">Manage Group Company</h2>
<ul class="breadcrumb ML15">
    <li><a href="">Group Management</a></li>
    <li> Group Company</li>
</ul>



@using (Html.BeginForm())
{
    if (TempData["Success"] != null)
    {
        <center>
            <p class="alert alert-success" style="width:1000px" id=" successMessage">@TempData["Success"]</p>
        </center>
    }

    <div class="mid_content_sec">
        <div class="col-xs-4 subSelect ">
            <img src="/UploadedFiles/@Model.CompanyLogo" alt="" style="height:60px;width:60px" />

        </div>
        <div class="col-xs-8 subSelect ">
            @if (Convert.ToInt32(Session["ParentCompanyID"]) == 0)
            {

                <div class="input-field">
                    @Html.Label("Group Company name")
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input" })
                </div>

            }
            else
            {
                @*<div class="col-xs-4 subSelect ">*@
                <div class="input-field">
                    @Html.Label("Compny name")
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input" })
                </div>
                @*</div>*@
            }
            @*@Html.Label("Company Name", new { @class = "floating-label" })




                <div class="col-xs-12 subSelect ">*@

            <div class="input-field">


                @Html.Label("Company Description", new { @class = "floating-label" })
                @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "inputMaterial ui - autocomplete - input" })
            </div>
            <div class="clearfix"></div>

            @Html.HiddenFor(m => m.CompanyID)
            @Html.HiddenFor(m => m.ParentCompanyID)

            @*</div>*@


        </div>
    </div>

    <ul class="list-inline continueBtn">

        @if (Convert.ToInt32(Session["ParentCompanyID"]) == 0)
        {
            <li>
                @Html.ActionLink("Modify", "UpdateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
                @if (Model.Is_Active == true)
                {
                    @Html.ActionLink("Deactivate", "DeactivateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
                }

                else
                {
                    @Html.ActionLink("Activate", "ActivateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

                }
            </li>
            <li>
                <input type="submit" value="Add Company" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Modify", "UpdateCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            </li>
            <li>
                @Html.ActionLink("Delete", "DeleteCompany", new { id = Model.CompanyID }, new { @class = "btn primary-button" })
                @if (Model.Is_Active == true)
                {
                    @Html.ActionLink("Deactivate", "DeactivateCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
                }
                else
                {
                    @Html.ActionLink("Activate", "ActivateCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

                }

            </li>
            <li>
                <input type="submit" value="Add Branch" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>
            </li>
            @*<input type="submit" value="Add Vendor" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>*@
            <li>
                @Html.ActionLink("Add Vendor", "AddVendor", new { id = Model.ParentCompanyID }, new { @class = "btn primary-button" })
            </li>
        }



    </ul>



}




