@model ComplianceAuditWeb.Models.AboutCompanyViewModel
@{
    /**/

    ViewBag.Title = "_AboutChildCompany";
}
<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Branch Management</a></li>
    <li>About Branch</li>
</ul>
<h2 class="ML15">Manage Branch</h2>




@using (Html.BeginForm())
{
    <div class="pull-right fa fa-pull-right" style="font-size:large">

        @Html.ActionLink("Create Branch", "AddBranch", new { Orgid = Model.ParentCompanyID })

        @*@TempData["ParentCompanyID"] = Model.ParentCompanyID;*@


    </div>
    if (TempData["Success"] != null)
    {
        <center>
            <p class="alert alert-success" style="width:1000px" id=" successMessage">@TempData["Success"]</p>
        </center>
    }
    <img src="/UploadedFiles/@Model.CompanyLogo" alt="" />
    <div class="clearfix"></div>

    <div class="col-xs-4 subSelect ">
        <div class="input-field">
            @Html.Label("Branch Name")
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input" })
        </div>
    </div>

    <div class="col-xs-12 subSelect ">
        <div class="input-field">


            @Html.Label("Branch Description", new { @class = "floating-label" })
            @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "inputMaterial ui - autocomplete - input" })

        </div>
    </div>
    @*@Html.Label("Company Name", new { @class = "floating-label" })*@






    <div class="clearfix"></div>



    @Html.HiddenFor(m => m.CompanyID)
    @Html.HiddenFor(m => m.ParentCompanyID)

    <ul class="list-inline continueBtn">
        <li>


            <input type="submit" value="Cancel" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>

            @Html.ActionLink("Modify ", "UpdateBranch", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            @Html.ActionLink("Delete", "DeleteBranch", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            @if (Model.Is_Active == true)
            {
                @Html.ActionLink("Deactivate", "DeactivateBranch", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            }
            else
            {
                @Html.ActionLink("Activate", "ActivateBranch", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })

            }


        </li>
    </ul>



    <h2 class="ML15">List of Vendors assigned</h2>



    <div class="new_section_box">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">User Management:</h2>
                @if (TempData["Success"] != null)
                {
                    <center>
                        @*<p class="alert alert-success"  style="width:1000px">  @TempData["Company"]</p>*@
                        <p id=" successMessage"> @TempData["Company"] @TempData["Success"] </p>
                    </center>
                }
                @if (Model.AboutGroupCompany.Count > 0)
                {
                    foreach (var item in Model.AboutGroupCompany)
                    {
                        <div class="col-sm-3 QueList">
                            <div class="queContainer">
                                <a href="@Url.Action("AboutCompany", "ManageOrganization", new { id = item.OrganizationID })">
                                    <span class="qIcon"><img src="/UploadedFiles/@item.CompanyLogo" alt="" style="height:60px;width:75px"></span>
                                    <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyName)</h3>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <center>
                        <p id=" successMessage">@ViewBag.Message</p>
                    </center>
                }

                <div class="clearfix"></div>

            </div>

        </div>

    </div>

}



