@model ComplianceAuditWeb.Models.AboutCompanyViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

<h2 class="ML15">Manage Group Company</h2>
<ul class="breadcrumb ML15">
    <li><a href="">Group Management</a></li>
    <li> Group Company</li>
</ul>

@using (Html.BeginForm())
{
<div class="mid_content_sec">


    @*@Html.Label("Company Name", new { @class = "floating-label" })*@
    <div class="clearfix"></div>

    <center>
        @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input", @readonly = "readonly" })

    </center>




    <div class="clearfix"></div>
    @Html.Label("Company Description", new { @class = "floating-label" })


    @*<div class="big_banner" style="background-color:red">*@

    <div class="box" style="background-color:black">
        <center>
            @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "inputMaterial ui - autocomplete - input",
            @readonly = "readonly", rows = "10", style = "width:1000px; color:black;" })
        </center>

        @Html.HiddenFor(m => m.CompanyID)
        @Html.HiddenFor(m => m.ParentCompanyID)

    </div>


</div>

    <ul class="list-inline continueBtn">
        <li>
            @Html.ActionLink("Modify Group Company", "UpdateGroupCompany", new { Orgid = Model.CompanyID }, new { @class = "btn primary-button" })
            @if (Convert.ToInt32(Session["ParentCompanyID"]) == 0)
            {
                <input type="submit" value="Add Company" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>
            }
            else
            {
                <input type="submit" value="Add Branch" class="btn primary-button"><span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span>
            }
        </li>
    </ul>



}




