@model ComplianceAuditWeb.Models.ListOfGroupCompanies

@{
    ViewBag.Title = "Compliance Auditing";
}
@section scripts{
    <script language="javascript" type="text/javascript">

        function GetCompany(_Groupcompid) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#CompanyID").html(procemessage).show();
            var url = "/Common/getcompany";

            $.ajax({
                url: url,
                data: { groupcompid: _Groupcompid },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select Company</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#CompanyID").html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }





    </script>

}

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Branch Management</a></li>
    <li> Branch List</li>
</ul>
<h2 class="ML15">List Of Branches</h2>

<div class="mid_content_sec">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Group Company")
                @Html.DropDownListFor(model => model.GroupCompanyID, Model.GroupCompaniesList, new { @onchange = "GetCompany(this.value);", @class = "inputMaterial ui - autocomplete - input" })
                
            </div>
        </div>

        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Company")
                @Html.DropDownListFor(model => model.CompanyID, Model.CompaniesList, new { @onchange = "this.form.submit()", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
        @Html.HiddenFor(model => model.CompaniesList)
        <div class="clearfix"></div>
        <div class="new_section_box">
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;"></h2>
                    @if (Model.listOfGroups.Count != 0)
                    {
                        foreach (var item in Model.listOfGroups)
                        {
                            <div class="col-sm-3 QueList">
                                <div class="queContainer">
                                    @*@item.OrganizationID = @Session["BranchID"];*@
                                    <a href="@Url.Action("AboutBranch", "ManageOrganization", new { id = item.OrganizationID })">
                                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                                        <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyName)</h3>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h4> @ViewBag.Message</h4>
                    }




                    <div class="clearfix"></div>

                </div>

            </div>

        </div>
    }
</div>



