@model ComplianceAuditWeb.Models.CompanyViewModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
{
<h4>Test</h4>
@using (Html.BeginForm("AddCompany", "ManageOrganization"))
{
    @Html.Label("GroupCompany")
    @Html.DropDownListFor(m => m.GroupCompanyID,Model.GroupCompaniesList);


    @Html.Label("Company Name");
    @Html.TextBoxFor(m => m.organization.Company_Name);

    @Html.LabelFor(m => m.organization.Description);
    @Html.TextAreaFor(m => m.organization.Description);

    @Html.LabelFor(m => m.organization.Industry_Type);
    @Html.TextBoxFor(m => m.organization.Industry_Type);

    @Html.LabelFor(m => m.organization.Last_Updated_Date);
    @Html.TextBoxFor(m => m.organization.Last_Updated_Date, @DateTime.Now.Year);

    @Html.LabelFor(m => m.organization.User_Id);
    @Html.TextBoxFor(m => m.organization.User_Id);

    @Html.LabelFor(m => m.companydetails.Formal_Name);
    @Html.TextBoxFor(m => m.companydetails.Formal_Name);



    @Html.LabelFor(m => m.companydetails.Website);
    @Html.TextBoxFor(m => m.companydetails.Website);

 

    @Html.LabelFor(m => m.companydetails.Company_EmailID);
    @Html.TextBoxFor(m => m.companydetails.Company_EmailID);

    @Html.LabelFor(m => m.companydetails.Company_ContactNumber1);
    @Html.TextBoxFor(m => m.companydetails.Company_ContactNumber1);

    @Html.LabelFor(m => m.companydetails.Company_ContactNumber2);
    @Html.TextBoxFor(m => m.companydetails.Company_ContactNumber2);

    @Html.LabelFor(m => m.companydetails.Calender_StartDate);
    @Html.TextBoxFor(m => m.companydetails.Calender_StartDate);

    @Html.LabelFor(m => m.companydetails.Calender_EndDate);
    @Html.TextBoxFor(m => m.companydetails.Calender_EndDate);

    @Html.LabelFor(m => m.companydetails.Auditing_Frequency);
    @Html.DropDownListFor(m => m.companydetails.Auditing_Frequency, new SelectList
            (Enum.GetValues(typeof(ComplianceAuditWeb.Models.OrganizationViewModel.AuditingFrequency))),
            "Select Auditing Freequency");

    @Html.LabelFor(m => m.branch.Branch_Name);
    @Html.TextBoxFor(m => m.branch.Branch_Name);

    @Html.LabelFor(m => m.branch.Address);
    @Html.TextBoxFor(m => m.branch.Address);

    @Html.LabelFor(m => m.branch.Branch_CoordinatesURL);
    @Html.TextBoxFor(m => m.branch.Branch_CoordinatesURL);

    @Html.LabelFor(m => m.branch.Branch_Coordinates1);
    @Html.TextBoxFor(m => m.branch.Branch_Coordinates1);

    @Html.LabelFor(m => m.branch.Branch_Coordinates2);
    @Html.TextBoxFor(m => m.branch.Branch_Coordinates2);

    @Html.LabelFor(m => m.branch.Postal_Code);
    @Html.TextBoxFor(m => m.branch.Postal_Code);

    @Html.Label("Privilege")
    @Html.DropDownListFor(m => m.branch.Country_Id, Model.Country);

    @*@Html.LabelFor(m => m.Country);
        @Html.DropDownListFor(model => model.Country, Model.Country);*@

    @Html.LabelFor(m => m.State);
    @Html.DropDownListFor(m => m.branch.State_Id, Model.State);

    @Html.LabelFor(m => m.City);
    @Html.DropDownListFor(m => m.branch.City_Id, Model.City);

    <input type="submit" value="Create" class="btn btn-default" />

}
@Html.ActionLink("Back to List", "Index")


}