@model ComplianceAuditWeb.Models.ListOfGroupCompanies

@{
    ViewBag.Title = "Compliance Auditing";
}

<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Company Management</a></li>
    <li>Company List</li>
</ul>
<h2 class="ML15">List of Companies</h2>

<div class="mid_content_sec">
    @using (Html.BeginForm())
    {
        <div class="col-xs-10 subSelect ">
            <div class="input-field">

                @Html.Label("Group Company")
                @Html.DropDownListFor(model => model.GroupCompanyID, Model.GroupCompaniesList, new { @onchange = "this.form.submit()", @class = "inputMaterial ui - autocomplete - input" })
            </div>
        </div>
    }
    <div class="clearfix"></div>
    <div class="new_section_box">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;"></h2>
                @if (Model.listOfGroups.Count != 0)
                {
                    foreach (var item in Model.listOfGroups)
                    {
                        <div class="col-sm-3 QueList">
                            <div class="queContainer">
                                <a href="@Url.Action("AboutCompany", "ManageOrganization", new { id = item.OrganizationID })">
                                    <span class="qIcon"><img src="/UploadedFiles/@item.Logo" alt="" style="height:60px;width:75px"></span>
                                    <h3 class="PB25"> @Html.DisplayFor(modelItem => item.CompanyName)</h3>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h4> @ViewBag.Message</h4>
                }

                <div class="clearfix"></div>

            </div>

        </div>

    </div>
</div>


