@model ComplianceAuditWeb.Models.OrgActivateDeactivateViewModel
@{
    ViewBag.Title = "Compliance Auditing";
}


<ul class="breadcrumb ML15">
    <li><a href="/Common/dashboard?pid=9">Branch Management</a></li>
    <li>Delete Branch</li>
</ul>
<h2 class="ML15">Delete Branch</h2>

<center>
    <h2 class="ML15">Are you sure you want to delete?</h2>
</center>
@using (Html.BeginForm())


{
    @Html.AntiForgeryToken()


    <div class="mid_content_sec">

        <div class="col-xs-4 subSelect "></div>
        <center>
            <div class="input-field">


                @Html.HiddenFor(m => m.CompanyID)
                @Html.HiddenFor(m => m.ParentCompanyID)

                @*@Html.LabelFor(m => m.CompanyName, new { @class = "floating-label" })*@
                @Html.TextBoxFor(m => m.CompanyName, new { @class = "inputMaterial ui - autocomplete - input", @readonly = "readonly", @Style = "text-align:center" })

            </div>
        </center>
    </div>

    <ul class="list-inline continueBtn">
        <li>
            @*<input type="submit" value="Activate" class="btn btn-default" />*@
            <button type="submit" class="btn primary-button" id="btnProceed" name="Button" value="Submit" onclick="DeleteBranch">Delete<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>

            @Html.ActionLink("Cancel", "BranchList", new { id = Model.ParentCompanyID }, new { @class = "btn primary-button" })

        </li>
    </ul>


}




