
@{
    ViewBag.Title = "_GroupCompanyDashboard";
}

<div class="new_section_box">
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h2 class="big_hdng" style="text-transform:none; border:0; margin-top:15px;">User Management:</h2>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <a href="@Url.Action("AddGroupCompany","ManageOrganization")">
                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                        <h3 class="PB25">Add Group Company</h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <a href="@Url.Action("AddCompany","ManageOrganization")">
                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                        <h3 class="PB25">Add Company</h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <a href="@Url.Action("AddBrnach","ManageOrganization")" ">
                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                        <h3 class="PB25">Add Branch</h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <a href="@Url.Action("ListOfGroupCompanies","ManageOrganization")" ">
                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                        <h3 class="PB25">List of Group Companies</h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-sm-3 QueList">
                <div class="queContainer">
                    <a href="@Url.Action("AddUser","UserManagement")" ">
                        <span class="qIcon"><img src="images/company2.JPG" alt=""></span>
                        <h3 class="PB25">Add User</h3>
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>

    </div>

</div>
