@model ComplianceAuditWeb.Models.OrganizationViewModel

@{
    ViewBag.Title = "DeleteGroupCompany";
}

<h2>DeleteGroupCompany</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganizationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.LabelFor(m => m.organization.Organization_Id)
        @Html.TextBoxFor(m => m.organization.Organization_Id)

        @Html.LabelFor(m => m.organization.Company_Name)
        @Html.TextBoxFor(m => m.organization.Company_Name)

        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
