@model IEnumerable<ComplianceAuditWeb.Models.ListOfGroupCompanies>

@{
    ViewBag.Title = "ListOfGroupCompanies";
}
<ul class="breadcrumb ML15">
    <li><a href="">Group Management</a></li>
    <li>Group Companies</li>
</ul>
<h2 class="ML15">List of Group Companies</h2>

<table class="table">
    <tr>
        <th>
            <center>
                @Html.DisplayNameFor(model => model.CompanyName)
            </center>
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OrganizationID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.CompanyName)*@
                @*@Html.DisplayFor(modelItem => item.GroupCompanyLogo)*@
                @*<center>
                        @Html.DisplayFor(modelItem => item.OrganizationID)
                    </center>*@
                <br />
                <center>
                    @Html.ActionLink(item.CompanyName, "UpdateGroupCompany", new { Orgid = item.OrganizationID })
                </center>
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.OrganizationID)
                </td>*@
            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </center>
            </td>

            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Logo)
                </center>
            </td>
            <td>
                @if (item.IsActive == true)
                {<center>
                        @Html.ActionLink("Deactivate", "DeactivateGroupCompany", new { Orgid = item.OrganizationID })
                        <br />
                        @Html.ActionLink("Delete", "DeleteGroupCompany", new { Orgid = item.OrganizationID })
                    </center>
                }
                else
                {
                    <center>
                        @Html.ActionLink("Activate", "ActivateGroupCompany", new { Orgid = item.OrganizationID })
                        <br />
                        @Html.ActionLink("Delete", "DeleteGroupCompany", new { Orgid = item.OrganizationID })

                    </center>
                }




            </td>
        </tr>
    }

</table>
<center>
    <div>
        @Html.ActionLink("Create New", "AddGroupCompany")
    </div>
</center>
