@model IEnumerable<ComplianceAuditWeb.Models.ListOfGroupCompanies>

@{
    ViewBag.Title = "Compliance Auditing";
}

<ul class="breadcrumb ML15">
    <li><a href="">Branch Management</a></li>
    <li>Branches</li>
</ul>
<h2 class="ML15">List of Branches</h2>

<div style="text-align:right;margin-right: 10px">
    @Html.ActionLink("Create New", "AddBranch")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.OrganizationID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.CompanyName)*@
                @*@Html.DisplayFor(modelItem => item.GroupCompanyLogo)*@
                @Html.HiddenFor(modelItem => item.OrganizationID)

                <center>
                    @Html.ActionLink(item.CompanyName, "UpdateBranch", new { Orgid = item.OrganizationID })
                </center>
            </td>

            <td>
                <center>

                    @Html.DisplayFor(modelItem => item.IsActive)
                </center>
            </td>

            <td>
                <center>
                    @Html.DisplayFor(modelItem => item.Logo)
                </center>
            </td>
            <td>
                @if (item.IsActive == true)
                {
                    <center>
                        @Html.ActionLink("Deactivate", "DeactivateBranch", new { Orgid = item.OrganizationID })
                        <br />
                        @Html.ActionLink("Delete", "DeleteBranch", new { Orgid = item.OrganizationID })
                    </center>

                }
                else
                {
                    <center>
                        @Html.ActionLink("Activate", "ActivateBranch", new { Orgid = item.OrganizationID })
                        <br />
                        @Html.ActionLink("Delete", "DeleteBranch", new { Orgid = item.OrganizationID })

                    </center>

                }




            </td>
        </tr>
    }

</table>




