@model ComplianceAuditWeb.Models.RolesViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml";}
@{
    ViewBag.Title = "_AddRolePage";
}
<h2 class="ML15">Add New Role</h2>
@section menupanel{
    @Html.Partial("_Menu");
}
@using (Html.BeginForm())
{
    <div class="mid_content_sec">
        @Html.AntiForgeryToken()
        <div class="col-xs-10 subSelect ">
            <div class="input-field">
                @Html.Label("RoleName:", new { @class = "floating-label" })  <span style="color:red">*</span>
                @if (Model.roles.RoleId > 0)
                {@Html.DisplayFor(model => model.roles.RoleName)}
            else
            {
                @Html.TextBoxFor(model => model.roles.RoleName, new { @class = "inputMaterial ui-autocomplete-input", autocomplete = "off" })
                <span id="loading_data_icon"></span>
            }
            </div>
        </div>
        <div class="col-xs-10 subSelect ">
            <div class="input-field">
                @Html.Label("IsGroupRole", new { @class = "floating-label" })
                @Html.CheckBoxFor(model => model.roles.IsGroupRole, new { @class = "inputMaterial ui-autocomplete-input", autocomplete = "off" })
                <span id="loading_data_icon"></span>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-10 subSelect ">
            <div class="input-field">
                @if (Model.privilege != null)
                {
                    @Html.Label("Privilege", new { @class = "floating-label" })
                    @Html.ListBoxFor(m => m.PrivilegeId, Model.privilege, new { @class = "inputMaterial ui-autocomplete-input", autocomplete = "off" })
                    <span id="loading_data_icon"></span>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <ul class="list-inline continueBtn">
            <li>
                @{string button = "save";}
                @if (Model.roles.RoleId > 0)
                {
                    button = "Update";
                    @Html.ActionLink("Delete", "Deleterole", routeValues: new { RoleId = Model.roles.RoleId })
                }
                <input type="submit" value=@button class="btn primary-button" />
                @*<button type="submit" class="btn primary-button" id="btnProceed" name="Button" value=@button onclick="return ShowHide()">Add Company<span class="ripple" style="width: 92.6094px; height: 92.6094px; top: 49.5px; left: -19.1875px;"></span></button>*@

            </li>
        </ul>
    </div>
}

