@model ComplianceAuditWeb.Models.ReportViewModel

@{
    Layout = null;
    ViewBag.Title = "Branch Level Reports";
  
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title </title>

    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/pagestyle.css" rel="stylesheet" />

    <script src="~/Content/assets/js/bootstrap.js"></script>
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-ui.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="main_body pull-right none">
        <div class="row">
            <div class="col-md-9">
                <div class="col-md-9"><h1><img src="~/Content/assets/images/logo_new.png" /></h1></div>
                <div class="col-md-3 pull-right"><h1 class="pull-right"><img src="" alt="" /></h1></div>
            </div>
            <h3 class="page-header" style="text-align:center; font-size:large">@ViewBag.Name</h3>




            @if (Model.CompliancedRuleList != null)
            {
                <h3>Complianced</h3>
                if (Model.ActList != null)
                {
                    foreach (var act in Model.ActList)
                    {

                        <div style="background-color:antiquewhite">
                            <i class="fa fa-legal"></i>
                            @Html.DisplayFor(modelItem => act.Compliance_Title)
                        </div>


                        foreach (var rule in Model.CompliancedRuleList)
                        {
                            if (rule.ParentID == act.Compliance_Xref_ID)
                            {
                                <table class="table">

                                    <tr>
                                        <td>
                                            <div style="background-color:aliceblue">
                                                <i class="fa fa-leanpub"></i>
                                                @Html.DisplayFor(modelItem => rule.Title)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Risk_Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Evidences)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Description)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Status)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Risk_Category)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Remarks)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Evidences)
                                        </td>
                                    </tr>
                                </table>

                            }
                        }
                    }
                }
            }



            @if (Model.PartiallyCompliancedRuleList != null)
            {
                <h3>Partially-Complianced</h3>

                if (Model.ActList != null)
                {
                    foreach (var act in Model.ActList)
                    {
                        <div style="background-color:antiquewhite">
                            <i class="fa fa-legal"></i>
                            @Html.DisplayFor(modelItem => act.Compliance_Title)
                        </div>

                        foreach (var rule in Model.PartiallyCompliancedRuleList)
                        {
                            if (rule.ParentID == act.Compliance_Xref_ID)
                            {
                                <table class="table">
                                    @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplianceAudit.Title)
                                    </th>
                                </tr>*@
                                    <tr>
                                        <td>
                                            <div style="background-color:aliceblue">
                                                <i class="fa fa-leanpub"></i>
                                                @Html.DisplayFor(modelItem => rule.Title)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="=table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Risk_Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Evidences)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Description)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Status)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Risk_Category)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Remarks)
                                        </td>


                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Evidences)
                                        </td>
                                    </tr>
                                </table>

                            }
                        }
                    }
                }
            }


            @if (Model.ActList != null)
            {
                foreach (var acts in Model.ActList)
                {
                    <div style="background-color:antiquewhite">
                        <i class="fa fa-legal"></i>
                        @Html.DisplayFor(modelItem => acts.Compliance_Title)
                    </div>


                    if (Model.NonCompliancedRuleListHighRisk != null)
                    {
                        <h3>Non-Complianced  High-Risk</h3>



                        foreach (var rule in Model.NonCompliancedRuleListHighRisk)
                        {
                            if (rule.ParentID == acts.Compliance_Xref_ID)
                            {
                                <table class="table">
                                    @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplianceAudit.Title)
                                    </th>
                                </tr>*@
                                    <tr>
                                        <td>
                                            <div style="background-color:aliceblue">
                                                <i class="fa fa-leanpub"></i>
                                                @Html.DisplayFor(modelItem => rule.Title)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Risk_Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Evidences)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Risk_Category)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Remarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Evidences)
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    }


                    if (Model.NonCompliancedRuleListMediumRisk != null)
                    {
                        <h3>Non-Complianced  Medium-Risk</h3>


                        foreach (var rule in Model.NonCompliancedRuleListMediumRisk)
                        {
                            if (rule.ParentID == acts.Compliance_Xref_ID)
                            {
                                <table class="table">
                                    @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplianceAudit.Title)
                                    </th>
                                </tr>*@
                                    <tr>
                                        <td>
                                            <div style="background-color:aliceblue">
                                                <i class="fa fa-leanpub"></i>
                                                @Html.DisplayFor(modelItem => rule.Title)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Risk_Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Evidences)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Risk_Category)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Remarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Evidences)
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    }



                    if (Model.NonCompliancedRuleListLowRisk != null)
                    {
                        <h3>Non-Complianced  Low-Risk</h3>


                        foreach (var rule in Model.NonCompliancedRuleListLowRisk)
                        {
                            if (rule.ParentID == acts.Compliance_Xref_ID)
                            {
                                <table class="table">
                                    @*<tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ComplianceAudit.Title)
                                    </th>
                                </tr>*@
                                    <tr>
                                        <td>
                                            <div style="background-color:aliceblue">
                                                <i class="fa fa-leanpub"></i>
                                                @Html.DisplayFor(modelItem => rule.Title)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Risk_Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Audit_Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(modelItem => rule.Evidences)
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Risk_Category)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Audit_Remarks)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => rule.Evidences)
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    }
                }
            }

        </div>
    </div>
</body>
</html>
