@model ComplianceAuditWeb.Models.AuditentryViewModel

@section scripts{
    @*<link href="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />*@
    <script src="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/Content/themes/base/jquery.ui.theme.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
    @*<link href="~/Content/assets/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet" />*@
    <link href="~/Content/ui.jqgrid.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @*<script src="~/Content/bootstrap-3.3.7-dist/js/jquery.min.js"></script>*@
    <script src="~/Scripts/free-jqGrid/jquery.jqgrid.min.js"></script>
    @*<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />*@
    <style>
        tr.jqgrow { height: 80px; }
    </style>

    <script>
        //<![CDATA[

        $(function () {
            
            "use strict";
            var cmeditTemplate = { align: 'center', sortable: false, editable: true, width: 150 };
            var cmTemplate = { align: 'center', sortable: false, editable: true, width: 150 }
            $("#grid").jqGrid({
                url: "/ManageAudit/GetAuditData/",
                datatype: "json",
                colNames: ['ID', 'compliance_Xref_id','auditid', 'Compliance Title', 'Description', 'Details', 'Applicability', 'Periodicity of Activity', 'Start Date', 'End Date', 'Compliance Status',
                    'Risk Category', 'Effect of Non-compliance', 'Date of Audit', 'Followup audit date', 'Auditor Remarks', 'Evidences/Supportives', 'Actual_Date', 'Due Date'],
                colModel: [
                    { key: true, hidden: true, name: 'ID', frozen: true },
                    { key: false, hidden: true, name: 'compliance_Xref_id', editable: true, frozen: true },
                    { key: false, hidden: true, name: 'Compliance_Audit_Id', editable: true, frozen: true },
                    { name: "Compliance_Title", frozen: true, template: cmTemplate },
                    { name: "Description", edittype: "textarea", editoptions: { rows: "4", cols: "20" }, height: 250, frozen: true, template: cmTemplate },
                    { name: "Details", edittype: "textarea", editoptions: { rows: "4", cols: "20" }, frozen: true, template: cmTemplate },
                    {
                        name: "Applicability", editable: true, align: 'center', edittype: 'checkbox', editoptions: { value: 'Yes:No' }
                    },
                    { name: "Periodicity" },
                    { name: "Start_Date", editable: true, formatter: 'date' },
                    {
                        name: "End_Date", editable: true, formatter: 'date'
                       //,editoptions: {
                       //     size: 20,
                       //     dataInit: function (el) {
                       //         $(el).datepicker({ dateFormat: 'dd-mm-yy' });
                       //     },  
                    },
                    { name: "Audit_Status", editable: true, edittype: "select", editoptions: { value: "Compliance:Compliance;Non-Compliance:Non-Compliance;Partially complianced:Partially Complianced;Not Applicable:Not Applicable" } },
                    { name: "Risk_Category", editable: true, edittype: "select", editoptions: { value: "High:High;Medium:Medium;Low:Low" } },
                    { name: "Non_compliance", editable: true, edittype: "textarea", editoptions: { rows: "4", cols: "20" } },
                    { name: "Audit_Date", formatter: 'date'},
                    { name: "Audit_Followup_Date", editable: true, formatter: 'date' },
                    { name: "Audit_Remarks", editable: true, edittype: "textarea", editoptions: { rows: "4", cols: "20" } },
                    {
                        name: "Evidences", editable: true, edittype: 'file',
                        editoptions: {
                            enctype: "multipart/form-data"
                        },
                    },
                    { name: "Actual_Date", editable: true, formatter: 'date' },
                    { name: "Due_Date", editable: true, formatter: 'date'  }
                ],
                postData: { actid: $('#actid').val() },
                editurl: "/ManageAudit/EditAuditdata",
                caption: "Input Types",
                viewrecords: true,
                rowNum: 16,
                width: 1250,
                rowList: [10, 20, 30],
                pager: '#pager12',
                shrinkToFit: false,
                caption: "Audit Entry",
                emptyrecords: 'No Records are Available to Display',
                height: 'auto',
                onSelectRow: editRow
            });
            jQuery("#grid").jqGrid('setFrozenColumns');
            $("#grid").jqGrid('navGrid', '#pager12', {
                edit: false, add: false, save: false, cancel: false,
                search: false, refresh: true, del: false, view: true
            });
            $("#grid").jqGrid('inlineNav', '#pager12', {
                edit: true, add: true, save: true, cancel: true, del: false, search: false,
                addParams: {
                    keys: true,
                    position: 'last'
                }
            });
        });
        //]]>     

        //jQuery('input[value=New Record]').click(function () {
        //    jQuery("#grid").setGridParam({ datatype: 'local', loadonce: true }); // Stop refresh?
        //    jQuery("#grid").addRowData(0, { id: "0", entryDate: getToday(), … }, "last"); // Insert blank record
        //    jQuery("#grid").editRow(0, true); // Activate record for editing
        //});

        function changeact(clicked_id) {
            
            $('#actid').val(clicked_id);
            $("#grid id").setGridParam({ postData: { actid: clicked_id } });
            
            $("#grid").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
        }

        function rate() {
            var text = $(this).val();
            alert(text);
        }

        function pickdates(id) {
            jQuery("#" + id + "_Start_Date", "#grid").datepicker({ dateFormat: "yy-mm-dd" });
        }
        var lastSelection;

        function editRow(id) {
            if (id && id !== lastSelection) {
                var grid = $("#grid");
                var colContent = grid.jqGrid('getCell', id, 'myColumn');
                if (colContent.length > 0)
                    grid.setColProp('myColumn', { editable: false });
                else
                    grid.setColProp('myColumn', { editable: true });  

                grid.jqGrid('restoreRow', lastSelection);
                grid.jqGrid('editRow', id, {
                    keys: true,
                    onEnter: function (rowid, options, event) {
                        if (confirm("Save the row with ID: " + rowid) === true) {
                            $(this).jqGrid("saveRow", rowid, options);
                        }
                    }
                });
                lastSelection = id;
            }
        }
      
    </script>
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}

<br />
@using (Html.BeginForm())
{
    <div id="tabs">
        <ul class="nav nav-justified">
            @foreach (var item in Model.ActList)
            {
                @*<li><a href="#tab1danger">@item.Text</a></li>*@
                @*<li><button id=@item.Value onclick="javascript: changeact(this.id); ">@item.Text</button></li>*@
                @*<li><a href="">@item.Text</a></li>*@
                <li><a id=@item.Value href="#tab1danger" onclick="changeact(this.id);" >@item.Text</a></li>
            }
        </ul>

        @Html.HiddenFor(model => model.actid)
        <div id="tab1danger">
            @Html.Display("ActName")
            <table id="grid"></table>
            <div id="pager12"></div>
        </div>
    </div>

}
